body {
  display: flex;
  justify-content: center; }
  body .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%; }
    body .main img {
      width: 300px;
      margin: 20px; }
